#include <winver.h>

IDI_ICON1 ICON "nhq.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "NovaHQ\0"
            VALUE "FileDescription",  "NovaLogic 3DI to OBJ Converter\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "Nova3di\0"
            VALUE "OriginalFilename", "Nova3di.exe\0"
            VALUE "ProductName",      "NovaHQ 3DI Tools\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
            VALUE "LegalCopyright",   "(c)2026 Novahq.net\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
